import(methods)
import(utils)
import(BiocGenerics)
import(S4Vectors)
import(httr)
import(ExperimentHub)
import(AnnotationHubData)
import(BiocCheck) ## non-exported checkBiocViews()

importFrom(BiocManager, version)
importFrom(DBI, dbGetQuery, dbDisconnect)

importFrom(curl, new_handle, curl, handle_setopt)

exportClasses(ExperimentHubMetadata) 

export(
  ExperimentHubMetadata,
  makeExperimentHubMetadata,
  addResources
)
