import(methods)
import(utils)
import(BiocGenerics)
import(S4Vectors)
import(httr)
import(AnnotationHub)
import(AnnotationHubData)
import(BiocCheck) ## non-exported checkBiocViews()

importFrom(BiocInstaller, biocVersion)

importFrom(curl, new_handle, curl, handle_setopt)

exportClasses(ExperimentHubMetadata) 

export(
  ExperimentHubMetadata,
  readMetadataFromCsv, makeExperimentHubMetadata,
  addResources
)
